@charset "UTF-8";
@font-face {
  font-family: 'Fahkwang';
  src: url("../fonts/font-using/Fahkwang-Medium.woff2") format("woff2"), url("../fonts/font-using/Fahkwang-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fahkwang';
  src: url("../fonts/font-using/Fahkwang-Regular.woff2") format("woff2"), url("../fonts/font-using/Fahkwang-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fahkwang';
  src: url("../fonts/font-using/Fahkwang-SemiBold.woff2") format("woff2"), url("../fonts/font-using/Fahkwang-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fahkwang';
  src: url("../fonts/font-using/Fahkwang-Bold.woff2") format("woff2"), url("../fonts/font-using/Fahkwang-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url("../fonts/font-using/FuturaPT-Book.woff2") format("woff2"), url("../fonts/font-using/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT Demi';
  src: url("../fonts/font-using/FuturaPT-Demi.woff2") format("woff2"), url("../fonts/font-using/FuturaPT-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.cl-blue {
  color: #162278;
}

.cl-white {
  color: white;
}

.cl-pink {
  color: #CB2EA4;
}

.cl-purple {
  color: #642667;
}

.f-title {
  font-family: "Fahkwang";
}

.fw-black {
  font-weight: 900;
}

.fw-medium {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-book {
  font-weight: 350;
}

.fw-700 {
  font-weight: 700;
}

.fs-56 {
  font-size: 56px;
}

.fs-50 {
  font-size: 50px;
}

.fs-45 {
  font-size: 45px;
}

.fs-40 {
  font-size: 40px;
}

.fs-36 {
  font-size: 36px;
}

.fs-28 {
  font-size: 28px;
}

.fs-24 {
  font-size: 24px;
}

.fs-22 {
  font-size: 22px;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.fs-10 {
  font-size: 10px;
}

.text-justify {
  text-align: justify;
}

@media (max-width: 1400px) {
  .fs-56 {
    font-size: 36px;
  }
  .fs-45 {
    font-size: 30;
  }
}

@media (max-width: 767px) {
  .fs-45 {
    font-size: 28px;
  }
  .fs-36 {
    font-size: 30px;
  }
  .fs-28 {
    font-size: 20px;
  }
  .fs-24 {
    font-size: 18px;
  }
  .fs-18 {
    font-size: 16px;
  }
  .fs-16 {
    font-size: 14px;
  }
  .fs-14 {
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .fs-56 {
    font-size: 36px;
  }
  .fs-45 {
    font-size: 30px;
  }
  .fs-40 {
    font-size: 36px;
  }
  .fs-24 {
    font-size: 18px;
  }
}

.about_page_wrapper .about_page_desc {
  z-index: 1;
  position: relative;
  padding-bottom: 5rem;
}

@media (max-width: 767px) {
  .about_page_wrapper .about_page_desc {
    padding-bottom: 0;
  }
}

.about_page_wrapper .about_page_desc::before {
  position: absolute;
  bottom: 0;
  height: 90%;
  background-color: #f6f6f6;
  content: "";
  width: 100%;
  right: 0;
  left: 0;
  z-index: -1;
  border-top-right-radius: 40%;
}

.about_page_wrapper .about_mission {
  z-index: 1;
  position: relative;
  background-color: #f6f6f6;
  padding: 5rem 0;
}

@media (max-width: 767px) {
  .about_page_wrapper .about_mission {
    padding: 3rem 0;
  }
}

.about_page_wrapper .about_mission::before {
  position: absolute;
  bottom: 0;
  height: 100%;
  background-color: white;
  content: "";
  width: 100%;
  right: 0;
  left: 0;
  z-index: -1;
  border-top-right-radius: 40%;
}

@media (max-width: 767px) {
  .about_page_wrapper .about_mission::before {
    display: none;
  }
}

.about_page_wrapper .about_mission img {
  border-radius: 15px;
}

.special_page_wrapper {
  position: relative;
  z-index: 1;
}

.special_page_wrapper .key_speccial {
  background-color: #f6f6f6;
  border-top-right-radius: 40%;
  padding: 7rem 0;
}

@media (max-width: 767px) {
  .special_page_wrapper .key_speccial {
    border-radius: 0;
    padding: 3rem 0;
  }
}

.special_page_wrapper .key_speccial .key_item {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.special_page_wrapper .key_speccial .key_item .title-key {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #642667;
  border-radius: 4px;
  padding: 5px 20px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  color: #f3f4ff;
}

.special_page_wrapper .all_special {
  background-color: #f6f6f6;
}

.special_page_wrapper .all_special .accordion-item {
  margin-bottom: 1rem;
  position: relative;
}

.special_page_wrapper .all_special .accordion-item .accordion-header button {
  background-color: #162278;
  color: white;
}

.special_page_wrapper .all_special .accordion-item .accordion-header button::after {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.special_page_wrapper .all_special .accordion-item .accordion-header button.collapsed {
  background-color: #ececec;
  color: #162278;
}

.special_page_wrapper .all_special .accordion-item .accordion-header button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.special_page_wrapper .all_special .accordion-item .accordion-body {
  color: #162278;
  font-size: 20px;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 3;
  background: white;
}

.special_page_wrapper .home_package::before {
  display: none;
}

.special_page_wrapper .home_package .arr-style {
  background-color: #ececec !important;
}

.page_doctor_wrapper {
  position: relative;
  z-index: 1;
}

body {
  font-family: "Futura PT Book", sans-serif;
  font-size: 16px;
}

body a {
  text-decoration: none;
}

body .btn_web {
  border-radius: 30px;
  background-color: #162278;
  padding: 5px 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .btn_web a {
  color: white;
}

.custom-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  max-width: 100vw;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .custom-container {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000066;
  display: none;
  z-index: 1031;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav__mobile {
  z-index: 1032;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.79);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
  width: 100%;
  max-width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__mobile .nav-mobile__list {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__mobile .nav-mobile__list li {
  margin: 15px;
  text-align: center;
}

.nav__mobile .nav-mobile__list li a {
  font-size: 18px;
  font-weight: 700;
  color: #162278;
  text-transform: capitalize;
  font-family: "Fahkwang";
}

.page_child_wrapper .banner_child {
  height: 100vh;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.page_child_wrapper .banner_child::before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-1.89%, #FFF), color-stop(31.36%, rgba(255, 255, 255, 0.62)), color-stop(54.86%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #FFF -1.89%, rgba(255, 255, 255, 0.62) 31.36%, rgba(255, 255, 255, 0) 54.86%);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .page_child_wrapper .banner_child {
    height: auto;
  }
}

@media (max-width: 767px) {
  .page_child_wrapper .banner_child {
    height: auto;
  }
  .page_child_wrapper .banner_child::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
  }
}

.page_child_wrapper .banner_child .content-banner {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
  z-index: 1;
}

.page_child_wrapper .section_form_booking {
  background-color: #F6F6F6;
  position: relative;
  z-index: 1;
  padding-top: 7rem;
}

@media (max-width: 767px) {
  .page_child_wrapper .section_form_booking {
    padding-top: 3rem;
  }
}

.page_child_wrapper .section_form_booking .booking_wrap {
  background-color: white;
  padding: 5rem 0;
  border-top-right-radius: 40%;
}

@media (max-width: 767px) {
  .page_child_wrapper .section_form_booking .booking_wrap {
    border-radius: 0;
  }
}

.page_child_wrapper .section_form_booking .booking_wrap .form-control {
  background-color: #f5f5f5;
  border: 0;
  height: 40px;
  margin-bottom: 5px;
}

.page_child_wrapper .section_form_booking .booking_wrap .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page_child_wrapper .section_form_booking .booking_wrap .btn_submit .btn_apply {
  border-radius: 30px;
  background-color: #162278;
  padding: 4px 25px;
  color: white;
  border: 0;
}

#header_site {
  background: rgba(255, 255, 255, 0.79);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
  padding: 1.5rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #header_site {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

@media (max-width: 767px) {
  #header_site {
    border-bottom: 1px solid #CB2EA4;
    padding: 0.75rem 0;
  }
}

#header_site .logo_site img {
  width: auto;
  height: 40px;
}

#header_site .menu_site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#header_site .menu_site .list_menu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header_site .menu_site .list_menu li {
  margin-right: 50px;
}

#header_site .menu_site .list_menu li.current-menu-item a {
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #header_site .menu_site .list_menu li {
    margin-right: 20px;
  }
}

#header_site .menu_site .list_menu li a {
  color: #162278;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

#header_site .menu_site .booking_btn a {
  color: #CB2EA4;
  font-weight: bold;
}

.banner_site {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/banner-home.png") no-repeat bottom 0px right/72% auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 0;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .banner_site {
    height: auto;
  }
}

.banner_site .banner-home {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
}

.home_about {
  background-color: #f6f6f6;
  padding: 15rem 0 0 0;
  border-top-right-radius: 40%;
  z-index: 2;
  position: relative;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home_about {
    padding: 7rem 0 0 0;
  }
}

@media (max-width: 767px) {
  .home_about {
    padding: 3rem 0 0 0;
    border-top-right-radius: 0;
  }
}

.home_about .ava_doctor {
  background: url("../images/bg-leaf.png") no-repeat bottom 0px center/100% auto;
}

.home_about .about_item img {
  width: auto;
  height: 50px;
  margin-bottom: 20px;
}

.home_package {
  background-color: #f6f6f6;
  position: relative;
  z-index: 2;
  padding: 15rem 0 5rem 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home_package {
    padding: 7rem 0 3rem 0;
  }
}

@media (max-width: 767px) {
  .home_package {
    padding: 3rem 0;
    background-color: white;
  }
}

.home_package::before {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: white;
  content: "";
  width: 100%;
  right: 0;
  left: 0;
  z-index: -1;
  border-top-right-radius: 40%;
}

@media (max-width: 767px) {
  .home_package::before {
    display: none;
  }
}

.home_package .content_desct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_package .content_desct .wrap {
  width: 50%;
}

@media (max-width: 767px) {
  .home_package .content_desct .wrap {
    width: 100%;
    padding: 0 0.75em;
  }
}

.home_package .content_desct .wrap .package_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home_package .content_desct .wrap .package_control .arr-style {
  width: 50px;
  height: 50px;
  background-color: #f6f6f6;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.home_package .content_desct .wrap .package_control .arr-style i {
  font-size: 20px;
  color: #642667;
}

.home_package .slider_package .package_item {
  position: relative;
  border-radius: 16px;
  border-top-left-radius: 16px;
  border-top-left-radius: 16px;
  margin: 0 10px;
}

@media (max-width: 767px) {
  .home_package .slider_package .package_item {
    padding-bottom: 2rem;
  }
}

.home_package .slider_package .package_item figure {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  padding-bottom: 50%;
  border-top-left-radius: 16px;
  border-top-left-radius: 16px;
}

.home_package .slider_package .package_item figure img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.home_package .slider_package .package_item .package_infor {
  background-color: #F6F2F6;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.home_package .slider_package .package_item .package_infor .price {
  color: #642667;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: 'Futura PT Demi';
}

.home_package .slider_package .package_item .cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home_package .slider_package .package_item .cart-btn a img {
  width: auto;
  height: 50px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home_package .slider_package .package_item .cart-btn a img {
    height: 30px;
  }
}

@media (max-width: 767px) {
  .home_package .slider_package .package_item .cart-btn a img {
    height: 30px;
  }
}

.home_network {
  position: relative;
  z-index: 2;
  background-color: #f6f6f6;
  padding-bottom: 15rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home_network {
    padding-bottom: 7rem;
  }
}

@media (max-width: 767px) {
  .home_network {
    padding-bottom: 3rem;
    background-color: white;
  }
}

.home_network::after {
  position: absolute;
  bottom: 0;
  height: 100%;
  background-color: white;
  content: "";
  width: 100%;
  right: 0;
  left: 0;
  z-index: -1;
  border-bottom-left-radius: 50%;
}

@media (max-width: 767px) {
  .home_network::after {
    display: none;
  }
}

.home_network .network_item {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.home_network .network_item figure {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  padding-bottom: 80%;
}

.home_network .network_item figure img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home_network .network_item .name-branch {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: #642667;
  padding: 5px 20px;
  color: white;
}

.home_doctor {
  position: relative;
  z-index: 2;
  background-color: #642667;
}

.home_doctor .doctor_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.home_doctor .doctor_desc .btn_more {
  width: 50px;
  height: 50px;
  background-color: #521055;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.home_doctor .doctor_desc .btn_more i {
  font-size: 20px;
  color: white;
}

.home_doctor .doctor-item {
  position: relative;
}

.home_doctor .doctor-item:hover .doctor_infor {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home_doctor .doctor-item .doctor_infor {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(154deg, rgba(217, 35, 155, 0.8) 7.07%, rgba(240, 239, 148, 0.8) 95.58%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 1.5rem;
  opacity: 0;
}

.home_news {
  position: relative;
  z-index: 2;
  background-color: #f6f6f6;
  padding: 15rem 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home_news {
    padding: 7rem 0;
  }
}

@media (max-width: 767px) {
  .home_news {
    padding: 3rem 0;
    background-color: white;
  }
}

.home_news::before {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: white;
  content: "";
  width: 100%;
  right: 0;
  left: 0;
  z-index: -1;
  border-top-right-radius: 40%;
}

@media (max-width: 767px) {
  .home_news::before {
    display: none;
  }
}

.home_news .item_news {
  border-bottom: 2px solid #CB2EA4;
}

.home_news .item_news figure {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  padding-bottom: 70%;
}

.home_news .item_news figure img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home_news .item_news .desc {
  display: block;
  display: -webkit-box;
  height: 41.6px;
  font-size: 16px;
  line-height: 1.3;
  -webkit-line-clamp: 2;
  /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#footer_site {
  position: relative;
  z-index: 2;
  background-color: #642667;
  padding: 10rem 0;
}

@media (max-width: 767px) {
  #footer_site {
    padding: 1.5rem 0;
  }
}

#footer_site .logo_ft img {
  width: auto;
  height: 40px;
}

#footer_site .ft_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  #footer_site .ft_menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 2rem 0;
  }
}

#footer_site .ft_menu .list_menu_ft {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

#footer_site .ft_menu .list_menu_ft li:not(:last-child) {
  margin-bottom: 30px;
}

#footer_site .ft_menu .list_menu_ft li a {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

#footer_site .list_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}

#footer_site .list_social li {
  margin-right: 20px;
}

#footer_site .list_social li img {
  width: auto;
  height: 30px;
}
/*# sourceMappingURL=main.css.map */