.about_page_wrapper{
    .about_page_desc{
        z-index: 1;
        position: relative;
        padding-bottom: 5rem;
        
        &::before{
            position: absolute;
            bottom: 0;
            height: 90%;
            background-color: #f6f6f6;
            content: "";
            width: 100%;
            right: 0;
            left: 0;
            z-index: -1;
            border-top-right-radius: 50%;
        }
    }
}